*{
    margin: 0;
    background-color: #E794EC;
    color: #F5DFF7;
    font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-size: 30px;
}

h1{
    font-size: 50px;
}


.contenedor{
    width: 80%;
    height: 400px;
    text-align: right;
    margin-top: 30%;
}



.imagen img{
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.bt{
    height: 80px;
    width: 80px;
    margin-top: 10%;
    border-radius: 90%;
    border: #fff 5px solid;
}

#yes{
    transform: translate(-100%,0);
}

#no{
    position: absolute;
}